<div class="profile-container wrapper--flex">
  <%= render 'profile_sidebar'%>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="profile tab-content active" id="profile-info">
      <section>
        <h2 class="title">Edit Profile</h2>
        <img src="<%= @user.insta_profile_picture %>" alt="">
        <p class="username"><%= @user.insta_full_name%></p>
        <%= link_to 'Update user info', get_user_gram_info_path(current_user.id), class: 'button' %>
        <p class="action-note">Username and profile picture are pulled in from your Instagram account.</p>
      </section>
      <section>
        <h2 class="title">Email</h2>
        <div class="field-with-label">
          <%= f.label :email %>
          <p>It is not possible to change your email at this time</p>
          <%= f.email_field :email, disabled: true %>
        </div>
      </section>
      <section>
        <h2 class="title">Delete Account</h2>
        <p>Want to part ways forever?</p>
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button' %>
        <p class="action-note">Once you delete your account there is no going back!</p>
      </section>
    </div>
    <div class="profile tab-content profile-password" id="profile-password">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <%= f.label :current_password, 'Old password' %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
  
        <div class="field">
          <%= f.label :password, 'New password' %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
  
        <div class="field">
          <%= f.label :password_confirmation, 'Confirm new password' %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
  
        
  
        <div class="actions">
          <%= f.submit "Update Password", class:'button' %>
          <span><%= link_to "Forgot your password?", new_password_path(resource_name) %></span>
        </div>
        
    </div>
  <% end %>
</div>
