<div class="title">
  <div>
    <%= form_for(@gram) do |f|%>
      <%= f.text_field :campaign_name %>
    <% end %>
  </div>
  <%= link_to grams_path, class: 'link-action' do%>
    <span>Back to dashboard </span><%= image_tag 'icons/arrow-back-2.svg'%>
  <% end %>
</div>
<div class="wrapper--flex">
  <div class="edit--single-img">
    <img src="<%= @gram.image_url %>" alt="">
    <span class="link-action">
      <%= image_tag 'icons/calendar-icon.svg'%> 
      <span>Instagram post date: <%= @gram.insta_posted_date.strftime('%-d/%m/%y') if @gram.insta_posted_date.present? %></span>
    </span>
    <%= form_for(@gram, remote: true) do |f|%>
      <%= f.hidden_field :updating_single_post, value: true %>
      <% if @gram.is_blog_post? %>
        <%= f.hidden_field :post_type, value: 'link' %>
        <%= f.submit 'Change to link', class: 'button--light' %>
      <% else %>
        <%= f.hidden_field :post_type, value: 'post' %>
        <%= f.submit 'Change to post', class: 'button--light' %>
      <% end %>
    <% end %>
  </div>
  <div class="edit--single-content">
    <%= form_for(@gram) do |f|%>
      <div class="form-element">
        <%= f.label :post_title, 'Post Title'%>
        <p>Tell your audience what this is about!</p>
        <%= f.text_field :post_title%>
      </div>
      <% if @gram.is_blog_post? %>
        <%= f.cktext_area :blog_text %> 
      <% else %>  
        <%= f.text_field :link %>
      <% end %>
      <div class="edit--single-actions">
        <div class="actions-menu">
          <%= link_to new_gram_path, class: 'link-action' do %>
            <%= image_tag 'icons/cancel-icon.svg'%>
            <span>Cancel</span>
          <% end %>
          <%= link_to post_path(current_user.id, @gram.id), class: 'link-action' do %>
            <%= image_tag 'icons/preview-icon.svg'%>
            <span>Preview</span>
          <% end %>
        </div>
        <div>
          <%= f.hidden_field :selected, value: true %>
          <%= f.hidden_field :updating_the_post, value: true %>
          <%= f.submit 'Save Draft', class: 'button--light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
