<div class="title">
  <%= form_for(@gram) do |f|%>
    <%= f.text_field :campaign_name %>
  <% end %>
  <%= link_to grams_path do%>
  Back to dashboard 
  <% end %>
</div>
<div class="wrapper--flex">
  <div>
    <img src="<%= @gram.image_url %>" alt="">
    <span class="date">Instagram post date: <%= @gram.insta_posted_date.strftime('%-d/%m/%y') if @gram.insta_posted_date.present? %></span>
    <%= form_for(@gram, remote: true) do |f|%>
      <%= f.hidden_field :updating_single_post, value: true %>
      <% if @gram.is_blog_post? %>
        <%= f.hidden_field :post_type, value: 'link' %>
        <%= f.submit 'Change to link', class: 'button--light' %>
      <% else %>
        <%= f.hidden_field :post_type, value: 'post' %>
        <%= f.submit 'Change to post', class: 'button--light' %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_for(@gram) do |f|%>
      <div class="form-element">
        <%= f.label :post_title, 'Post Title'%>
        <p>Tell your audience what this is about!</p>
        <%= f.text_field :post_title%>
      </div>
      <%= @gram.post_type %>
      <% if @gram.is_blog_post? %>
        <%= f.cktext_area :blog_text %> 
      <% else %>  
        <%= f.text_field :link %>
      <% end %>
      <div class="quick-actions">
        <%= link_to 'Cancel', new_gram_path%>
        <%= link_to 'Preview', post_path(current_user.id, @gram.id)%>
      </div>
      <%= f.hidden_field :selected, value: true %>
      <%= f.hidden_field :updating_the_post, value: true %>
      <%= f.submit 'Save Draft', class: 'button--light' %>
    <% end %>
  </div>
</div>
