<div class="title">
  <div>
    <%= form_for(@gram) do |f|%>
      <%= f.hidden_field :updating_single_post, value: true %>
      <div class="flex">
        <%= f.text_field :campaign_name, :data => {:gram_id => @gram.id}, placeholder: 'create a campaign name' %>
        <%= image_tag 'icons/edit-campaign-title-icon.svg'%>
      </div>
    <% end %>
  </div>
  <%= link_to grams_path, class: 'link-action' do%>
    <span>Back to dashboard </span><%= image_tag 'icons/arrow-back-2.svg'%>
  <% end %>
</div>
<div class="wrapper--flex">
  <div class="edit--single-img">
  <% if @gram.stored_image.present? %>
    <%= image_tag @gram.stored_image.url %>
  <% else %>
    <img src="<%= @gram.image_url %>" alt="">
  <% end %>
    <span class="link-action">
      <%= image_tag 'icons/calendar-icon.svg'%> 
      <span>Instagram post date: <%= @gram.insta_posted_date.strftime('%-d/%m/%y') if @gram.insta_posted_date.present? %></span>
    </span>
    <%= form_for(@gram, remote: true) do |f|%>
      <%= f.hidden_field :updating_single_post, value: true %>
      <% if @gram.is_blog_post? %>
        <%= f.hidden_field :post_type, value: 'link' %>
        
        <%= button_tag(type: 'submit', class: 'button--secondary button--with-icon') do %>
          <%= image_tag 'icons/link-icon.svg'%><span>Change to link</span>
        <% end %>
      <% else %>
        <%= f.hidden_field :post_type, value: 'post' %>
        <%= button_tag(type: 'submit', class: 'button--secondary button--with-icon') do %>
          <%= image_tag 'icons/post-icon.svg'%><span>Change to post</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="edit--single-content">
    <%= form_for(@gram) do |f|%>
      <div class="form-element">
        <%= f.label :post_title, 'Post Title'%>
        <p>Tell your audience what this is about!</p>
        <%= f.text_field :post_title%>
      </div>
      <% if @gram.is_blog_post? %>
        <%= f.cktext_area :blog_text %> 
      <% else %>  
        <div class="form-element">
          <%= f.label :link, 'Link'%>
          <p>Url to the external site you want to link to</p>
          <%= f.text_field :link, placeholder: 'ex: http://medium.com/' %>
        </div>
      <% end %>
      <div class="edit--single-actions">
        <div class="actions-menu">
          <%if params[:from_dashboard]%>
            <%= link_to grams_path, class: 'link-action' do %>
              <%= image_tag 'icons/cancel-icon.svg'%>
              <span>Cancel</span>
            <% end %>
          <% else %>
            <%= link_to new_gram_path, class: 'link-action' do %>
              <%= image_tag 'icons/cancel-icon.svg'%>
              <span>Cancel</span>
            <% end %>
          <% end %>
          <% if @gram.is_blog_post?%>
          <!-- TODO - if post is not saved preview does not display new content -->
            <%= link_to post_path(current_user, @gram), class: 'link-action' , target: '_blank' do %>
              <%= image_tag 'icons/preview-icon.svg'%>
              <span>Preview</span>
            <% end %>
          <% end %>
        </div>
        <div class="button-group">
          <div>
            <%= f.hidden_field :selected, value: true %>
            <%= f.hidden_field :updating_the_post, value: true %>
            <%= button_tag(type: 'submit', class: 'button--secondary button--with-icon') do %>
              <%= image_tag 'icons/save-draft-icon.svg'%><span>Save Draft</span>
            <% end %>
          </div>
          <div>
            <%= button_tag(type: 'submit', class: 'button button--with-icon', value: 'publish') do %>
              <%= image_tag 'icons/publish-icon.svg'%><span>Publish</span>              
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
