<% @grams.each do |gram|%>
    <li>
        <span>
            <img src="<%= gram.image_url %>" alt="">
        </span>
        <span>
            <%= gram.link if gram.link.present? %>
            <%= gram.campaign_name if gram.campaign_name.present? %>
        </span>
        <span class="actions">
            <span>
                <%= link_to gram_path(gram) do %><i class="fa fa-pencil" aria-hidden="true"></i> Edit<% end %>
            </span>
            <span>
                <%= link_to post_path(current_user.id, gram.id) do %><i class="fa fa-eye" aria-hidden="true"></i> Show<% end %>
            </span>
            <span>
                <%= link_to gram_path(gram), method: 'delete' do %><i class="fa fa-trash" aria-hidden="true"></i> Delete<% end %>
            </span>
        </span>
        <span class="publishing">
            <span>
                <%= gram.published ? 'Published' : 'Draft'%>
            </span>
            <%= form_for(gram, remote: true) do |f| %>
                <%= hidden_field_tag 'filter_grams', params[:filter_grams], id: "filter-#{gram.id}"%>
                <%= hidden_field_tag 'order_grams', params[:order_grams], id: "order-#{gram.id}"%>
                <%= f.check_box :published,
                id: "published-#{gram.id}", class: 'published-checkbox'
                %>
                <%= f.label :published, for: "published-#{gram.id}" %>
            <% end %>

            <span class="date">
                <%= gram.insta_posted_date.strftime('%-d/%m/%y') if gram.insta_posted_date.present? %>
            </span>
        </span>
    </li>
<% end %>