<p id="notice"><%= notice %></p>
<div class="wrapper">
    <% if @grams.present? %>
        <div class="dashboard--gram-list-actions">
            <%= link_to new_gram_path, class: 'button button--with-icon' do %><%= image_tag 'add_icon.svg'%> <span><%= t('new_post')%></span><% end %>
            <%= form_tag('filter_grams', method: 'post', remote: true) do %>
                <%= select_tag("filter_grams", options_for_select([["All","all_selected"],["Published","published"],["Draft","draft"]],params[:filter].to_i),{:name => "filter_grams", :class => 'gram-filter'} ) %>
                <%= select_tag("order_grams", options_for_select([["Most Recent","most_recent"],["Least Recent","least_recent"]],params[:order].to_i),{:name => "order_grams", :class => 'gram-filter'} ) %>
                <input type="submit">
            <% end %>
        </div>
        <ul class="dashboard--gram-list" id="dashboard-gram-list">
           <%= render 'gram_list'%>
        </ul>
    <% else %>
        <section class="dashboard--empty">
            <h2><%= t('welcome') %></h2>
            <p><%= t('start') %></p>
            <%= link_to new_gram_path, class: 'button button--with-icon' do %><%= image_tag 'add_icon.svg'%> <span><%= t('new_post')%></span><% end %>
        </section>
    <% end %>
</div>

<script>
    $('body').on('change','.published-checkbox', (e) =>{
        let form = $(e.target).parent('form').get(0);
        $(form).trigger('submit.rails');
        
    });
</script>

