<span id="notice"><%= notice %></span>
<div class="wrapper">
    <% if @current_user_grams.present? %>
        <div class="dashboard--gram-list-actions">
            <%= link_to new_gram_path, class: 'button button--with-icon' do %><%= image_tag 'add_icon.svg'%> <span><%= t('new_post')%></span><% end %>
            <%= form_tag('/grams', method: 'get') do %>
                <div>
                    <%= label_tag 'filter_grams', 'Filter:'%>
                    <%= select_tag("filter_grams", options_for_select([["All","all_selected"],["Published","published"],["Draft","draft"]],params[:filter_grams]),{:name => "filter_grams", :class => 'gram-filter'} ) %>
                </div>
                <div>
                    <%= label_tag 'order_grams', 'Sort By:'%>
                    <%= select_tag("order_grams", options_for_select([["Most Recent","most_recent"],["Least Recent","least_recent"]],params[:order_grams]),{:name => "order_grams", :class => 'gram-filter'} ) %>
                </div>
            <% end %>
        </div>
        <% if @grams.present? %>
            <ul class="dashboard--gram-list" id="dashboard-gram-list">
                <%= render 'gram_list'%>
            </ul>
        <% else %>    
            <p>sorry no instagrams match that filter</p>
        <% end %>
    <% else %>
        <section class="dashboard--empty">
            <h2><%= t('welcome') %></h2>
            <p><%= t('start') %></p>
            <%= link_to new_gram_path, class: 'button button--with-icon' do %><%= image_tag 'add_icon.svg'%> <span><%= t('new_post')%></span><% end %>
        </section>
    <% end %>
</div>

