
<div class="wrapper edit--single edit--post">
  <%= form_for(@gram) do |f|%>
    <div class="title">
        <%= f.text_field :campaign_name %>
        <%= link_to grams_path do%>
          Back to dashboard 
        <% end %>
    </div>
    <div class="wrapper--flex">
      <div>
        <img src="<%= @gram.image_url %>" alt="">
      </div>
      <div>
        <div class="form-element">
          <%= f.label :post_title, 'Post Title'%>
          <p>Tell your audience what this is about!</p>
          <%= f.text_field :post_title%>
        </div>
        <%= f.cktext_area :blog_text %> 
      </div>
    </div>
    <%= f.submit 'Save Draft', class: 'button--light' %>
  <% end %>
  <%= link_to 'Cancel', new_gram_path%>
  <%= link_to 'Preview', post_path(current_user.id, @gram.id)%>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @gram.image_url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gram.link %>
</p>

<p>
  <strong>Blog text:</strong>
  <% if @gram.blog_text %>
    <%= @gram.blog_text.html_safe %>
  <% end %>  
</p>

<p>
  <strong>Post type:</strong>
  <%= @gram.post_type %>
</p>

<p>
  <strong>Published:</strong>
  <%= @gram.published %>
</p>

<p>
  <strong>Insta posted date:</strong>
  <%= @gram.insta_posted_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @gram.user %>
</p>

<%= link_to 'Edit', edit_gram_path(@gram) %> |
<%= link_to 'Back', grams_path %>
