<!DOCTYPE html>
<html>
  <head>
    <title>Linkinbio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://use.fontawesome.com/b1b2b00123.js"></script>
    <script type="text/javascript" src="//fast.fonts.net/jsapi/09f75a11-819f-49b2-84f3-8dfdad22c4ec.js"></script>
    <!-- <script type="text/javascript" src="//fast.fonts.net/jsapi/09f75a11-819f-49b2-84f3-8dfdad22c4ec.js"></script>` -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/09f75a11-819f-49b2-84f3-8dfdad22c4ec.css" />
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

     <meta property="og:title" content="Link in Bio" />
  <meta property="og:image" content="<%= image_url('meta_image.png')%>" />


  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Link in Bio" />
  <meta name="twitter:description" content="The only link in bio you will ever need on Instagram." />
  <meta name="twitter:image" content="<%= image_url('meta_image.png')%>" />
  </head>

  <body>
    <nav class="nav-main">
      <div class="wrapper">
        <%= link_to 'Link in Bio',root_url, class: 'nav-main--title'%>
        <div class="nav-main--links">
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to grams_path do %>
                  <span class="icon">
                    <svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs>
                          <polygon id="path-1" points="8 17 4 17 4 10 2 10 10 3 18 10 16 10 16 17 12 17 12 12.0634697 8 12.0634697"></polygon>
                      </defs>
                      <g id="icons-/-home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-2.000000, -3.000000)">
                          <mask id="mask-2" fill="white">
                              <use xlink:href="#path-1"></use>
                          </mask>
                          <use id="home---material" xlink:href="#path-1"></use>
                      </g>
                    </svg>
                  </span>
                  <span>Dashboard</span>
                <% end %>
              </li>
              <li>
                <%= link_to blogs_path(current_user), target: '_blank' do %>
                  <span class="icon">
                 
                 <svg width="15px" height="11px" viewBox="0 0 15 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <defs>
                       <path d="M14,5 L17,5 L17,8 L14,8 L14,5 Z M14,16 L14,13 L17,13 L17,16 L14,16 Z M10,16 L10,13 L13,13 L13,16 L10,16 Z M6,16 L6,13 L9,13 L9,16 L6,16 Z M2,16 L2,13 L5,13 L5,16 L2,16 Z M14,12 L14,9 L17,9 L17,12 L14,12 Z M10,5 L13,5 L13,8 L10,8 L10,5 Z M6,8 L6,5 L9,5 L9,8 L6,8 Z M10,12 L10,9 L13,9 L13,12 L10,12 Z M6,12 L6,9 L9,9 L9,12 L6,12 Z M2,12 L2,9 L5,9 L5,12 L2,12 Z M2,8 L2,5 L5,5 L5,8 L2,8 Z" id="view-blog"></path>
                   </defs>
                   <g id="icons-/-grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-2.000000, -5.000000)">
                       <mask id="mask-2" fill="white">
                           <use xlink:href="#view-blog"></use>
                       </mask>
                       <use id="view_comfy---material" xlink:href="#view-blog"></use>
                   </g>
                 </svg>
                  </span>
                  <span>View Blog</span>
                <% end %>
              </li>
            <% else %>  
              <li>
                <%= link_to  new_user_session_path  do %>
                <span class="icon">
                    <svg width="15px" height="11px" viewBox="0 0 15 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs>
                          <path d="M14,5 L17,5 L17,8 L14,8 L14,5 Z M14,16 L14,13 L17,13 L17,16 L14,16 Z M10,16 L10,13 L13,13 L13,16 L10,16 Z M6,16 L6,13 L9,13 L9,16 L6,16 Z M2,16 L2,13 L5,13 L5,16 L2,16 Z M14,12 L14,9 L17,9 L17,12 L14,12 Z M10,5 L13,5 L13,8 L10,8 L10,5 Z M6,8 L6,5 L9,5 L9,8 L6,8 Z M10,12 L10,9 L13,9 L13,12 L10,12 Z M6,12 L6,9 L9,9 L9,12 L6,12 Z M2,12 L2,9 L5,9 L5,12 L2,12 Z M2,8 L2,5 L5,5 L5,8 L2,8 Z" id="path-1"></path>
                      </defs>
                      <g id="icons-/-grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-2.000000, -5.000000)">
                          <mask id="mask-2" fill="white">
                              <use xlink:href="#path-1"></use>
                          </mask>
                          <use id="view_comfy---material" xlink:href="#path-1"></use>
                      </g>
                    </svg>
                  </span>
                  <span>View Blog</span>
                <% end %>
              </li>
            <% end %>
            <li class="nav-parent">
              <% if user_signed_in? %>
              <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                <span>Account</span>
                <span class="icon">
                  <%= image_tag 'user_icon.svg'%>          
                </span>
              <% end %>
                <ul class="sub-nav">
                  <li><%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              <% else %>
                <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                <!-- <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li> -->
              <% end %>
            </li>
          </ul>
         
        </div>
      </div>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
   
    <%= yield %>
    <%= insert_paloma_hook %>
  </body>
</html>
